.container{
    text-align: center;
    font-size: 20px;
    color: none;

}
/*
.header{
    background-color: rgb(24, 170, 218); 
}
.main{
    background-color: green;

}
.area{
    background-color:rgb(169, 19, 174);
}
.footer{
    background-color: rgb(11, 65, 174);
}
*/